html{
    background-color: black;
}
.calculator {
    width: 250px;
    margin: 50px auto;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #ccc;
    padding: 10px;
}

.display {
    background-color: #eee;
    padding: 5px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-top: 10px;
}

button {
    background-color: #ccc;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #aaa;
}

button:active {
    background-color: #999;
}
