
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 500px;
}
.container .row {
    justify-content: center;
}

button{
    width: 35px;
    height: 30px;
}
h1{
    text-align: center;
}
.container2{
    margin-top: 20px;
    padding: 20px;
    border: 2px solid black;
}
.btn{
    display: flex;
    justify-content: center;
    padding: 0px;
    gap: 40px;
}